# Trustify Configuration
TRUSTIFY_HOST=http://trustify.example.com/api/v2/
TRUSTIFY_CLIENT_ID=your-trustify-client-id
TRUSTIFY_CLIENT_SECRET=your-trustify-client-secret
TRUSTIFY_AUTH_SERVER_URL=https://sso-trustify.example.com/auth/realms/trustify